
<div class="bx--content">
    <div class="bx--resource-card">
        <BxGrid>
            <BxRow>
                <BxCol lg="6">
                    <h3>@Title</h3>
                    <Widget>
                        @Description
                    </Widget>
                </BxCol>
                <BxCol lg="6">
                    @Component
                </BxCol>
            </BxRow>
            <BxRow>
                <BxCol>
                    @Code
                </BxCol>
            </BxRow>
        </BxGrid>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment Description { get; set; }
    [Parameter]
    public RenderFragment Component { get; set; }

    [Parameter]
    public RenderFragment Code { get; set; }
}
