<style type="text/css">
    .security--card--skeleton__wrapper {
        display: flex;
    }

    .security--card--skeleton__text--inline {
        margin-right: 0.5rem;
    }

    .security--card {
        display: flex;
        width: auto;
        min-width: 12rem;
        min-height: 6rem;
        padding: 1rem;
        color: var(--text-01, #f4f4f4);
        background-color: var(--ui-01, #262626);
        flex-direction: column;
        word-break: break-word;
    }

        .security--input__background__color--light .bx--number .security--card input[type='number'],
        .security--card .bx--date-picker__input,
        .security--card .bx--dropdown,
        .security--card .bx--number input[type='number'],
        .security--card .bx--search-input,
        .security--card .bx--select-input,
        .security--card .bx--text-area,
        .security--card .bx--text-input,
        .security--card .bx--list-box,
        .security--card .bx--list-box__menu,
        .security--card .security--button--icon:focus,
        .security--card .security--button--icon:hover,
        .security--tearsheet--small .bx--number .security--card input[type='number'],
        .security--tearsheet .bx--number .security--card input[type='number'] {
            background-color: var(--ui-02, #393939);
        }

    .security--card__link {
        transition-duration: 0.2s;
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        display: block;
        color: inherit;
        text-decoration: none;
    }

        .security--card__link:focus,
        .security--card__link:hover {
            background-color: var(--hover-ui, #353535);
        }

        .security--card__link:focus {
            outline: 2px solid var(--focus, #ffffff);
            outline-offset: -2px;
        }

    .security--card__header {
        text-transform: capitalize;
    }

    .security--card__header__image {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.25rem;
    }

    .security--card__header__title {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.125rem;
        letter-spacing: 0.16px;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .security--card__header__tag {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.32px;
    }

    .security--card__body {
        display: inline-block;
    }

    .security--card__body__text {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.32px;
        margin-bottom: 1rem;
    }

    .security--card__footer {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.32px;
        margin-top: auto;
    }
</style>
<div class="bx--card" style="margin: 5px">
    <div class="bx--card__header"><h2>@Title</h2></div>
    <div class="bx--card__body">
        @ChildContent
    </div>
    <div class="bx--card">

    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Description { get; set; }
}
