<Widget Title="BxSkeleton">
    <div class="bx--card bx--card--skeleton">
        <p class="bx--skeleton__text" style="width: 25%;"></p>
        <p class="bx--skeleton__text bx--skeleton__heading" style="width: 25%;"></p>
        <p class="bx--skeleton__text" style="width: 50%;"></p>
        <p class="bx--skeleton__text" style="width: 50%;"></p>
        <p class="bx--skeleton__text" style="width: 75%;"></p>
        <div class="security--card--skeleton__wrapper">
            <p class="bx--skeleton__text security--card--skeleton__text--inline" style="width: 25%;"></p>
            <p class="bx--skeleton__text" style="width: 25%;">
            </p>
        </div>
    </div>
</Widget>
@code {

}
