@page "/components/bx-accordion"

<div class="bx--content">
    <BxGrid>
        <BxRow>
            <BxCol offset="lg-2" lg="10">
                <h3>BxAccordion</h3>
                <BxGrid>
                    <BxRow>
                        <BxCol lg="10">
                            <AccordionWidget></AccordionWidget>
                        </BxCol>
                    </BxRow>
                </BxGrid>
            </BxCol>
        </BxRow>
    </BxGrid>
</div>
@code {
}
