@page "/components/bx-button"

@using BxBlazor.Components.Icons

<div class="bx--content">
    <BxGrid>
        <BxRow>
            <BxCol offset="lg-1" lg="10">
                <h3>Counter</h3>
                <p>Current count: @currentCount</p>
                <BxButton prefix="bx" type="secondary" IsSmall="true" OnClick="IncrementCount">
                    <Icon>
                        @(SvgIcons.Menu20("bx--btn-icon"))
                    </Icon>
                </BxButton>
            </BxCol>
        </BxRow>
    </BxGrid>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
