@page "/components/bx-codesnippet"

<div class="bx--content">
    <BxGrid>
        <BxRow>
            <h3>BxCodeSnippet</h3>
            <BxCol lg="10">
                <BxCodeSnippet Code="@_code" />
            </BxCol>
        </BxRow>
    </BxGrid>
</div>
@code {
    string _code = 
    @"
    <h3>BxCodeSnippet</h3>
        <div class=\""bx--grid\"">
        <div class=\""bx--row\"">
            <div class=\""bx--offset-lg-2 bx--col-lg-10\"">
                <BxCodeSnippet Code=\""@_code\"" />
            </div>
        </div>
    </div>
    @code {
        string _code = @\""public static class {
            // comment
        }\"";
    }
";
}
