@page "/fetchdata"
@using blazorwasm.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="bx--grid">
    <div class="bx--row">
        <div class="bx--offset-lg-2 bx--col-lg-10">
            @if (forecasts == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <BxDataTableV2 TItem="WeatherForecast" Items="forecasts" IsSelectable="true">
                    <BatchActionsToolbar>
                        <BxDataTableV2_Toolbar OnPrimaryButtonClick="toolbar_click" />
                    </BatchActionsToolbar>
                </BxDataTableV2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temp. (C)</th>
                            <th>Temp. (F)</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var forecast in forecasts)
                        {
                            <tr>
                                <td>@forecast.Date.ToShortDateString()</td>
                                <td>@forecast.TemperatureC</td>
                                <td>@forecast.TemperatureF</td>
                                <td>@forecast.Summary</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

    void toolbar_click()
    {

    }
}
