@page "/"

<div class="bx--grid">
    <div class="bx--row">
        <div class="bx--col">
            <Section>
                <Widget Title="Hello World!">

                    <CarbonLogoWidget></CarbonLogoWidget>

                    <SurveyPrompt Title="How is Blazor working for you?" />
                </Widget>
            </Section>
        </div>
    </div>
    <div class="bx--row">
        <div class="bx--col">
            <Section>
                <StructuredListWidget></StructuredListWidget>
            </Section>
        </div>
    </div>
    <div class="bx--row">
        <div class="bx--col">
            <Section>
                <SkeletonWidget></SkeletonWidget>
            </Section>
        </div>
    </div>
    <div class="bx--row">
        <div class="bx--col">
            <Section>
                <AccordionWidget></AccordionWidget>
            </Section>
        </div>
    </div>
</div>
