@page "/"

<div class="bx--grid">
    <div class="bx--row">
        <div class="bx--col-lg-4">
            <Section>
                <Widget Title="Hello World!">

                    <CarbonLogoWidget></CarbonLogoWidget>

                    <SurveyPrompt Title="How is Blazor working for you?" />
                </Widget>
            </Section>
        </div>
    </div>
    <div class="bx--row"></div>
    <div class="bx--row">
        <div class="bx--col-lg-4">
            <Section>
                <StructuredListWidget></StructuredListWidget>
            </Section>
        </div>
        <div class="bx--col">
            <BxCodeSnippet 
                        Code="@(@"
@using System.ComponentModel.DataAnnotations
<Widget Title=\""BxStructuredList\"">
    <BxStructuredList TItem=\""RepoItem\"" Items=\""items\"" IsSelectable=\""true\"">

    </BxStructuredList>
</Widget>
@@code {
    public class RepoItem
    {
        public RepoItem(int id, string name, string description)
        {
            Id = id;
            Name = name;
            Description = description;
        }
        [Display(Name = \""Id\"")]
        public int Id { get; set; }
        [Display(Name = \""Repository Name\"")]
        public string Name { get; set; }
        public string Description { get; set; }
    }
    List<RepoItem> items = new List<RepoItem>()
    {
        new RepoItem (0, \""Carbon Design Components\"", \""simple description\""),
        new RepoItem(1, \""aspnetcore-blazor\"", \""simple description\"")
    };

}
")" >

            </BxCodeSnippet>
        </div>
    </div>
    <div class="bx--row">
        <div class="bx--col-lg-4">
            <Section>
                <SkeletonWidget></SkeletonWidget>
            </Section>
        </div>
        <div class="bx--col">
            <BxCodeSnippet Code="@(@"
<Widget Title=\""BxSkeleton\"">
    <div class=\""bx--card bx--card--skeleton\"">
        <p class=\""bx--skeleton__text\"" style=\""width: 25%;\""></p>
        <p class=\""bx--skeleton__text bx--skeleton__heading\"" style=\""width: 25%;\""></p>
        <p class=\""bx--skeleton__text\"" style=\""width: 50%;\""></p>
        <p class=\""bx--skeleton__text\"" style=\""width: 50%;\""></p>
        <p class=\""bx--skeleton__text\"" style=\""width: 75%;\""></p>
        <div class=\""security--card--skeleton__wrapper\"">
            <p class=\""bx--skeleton__text security--card--skeleton__text--inline\"" style=\""width: 25%;\""></p>
            <p class=\""bx--skeleton__text\"" style=\""width: 25%;\"">
            </p>
        </div>
    </div>
</Widget>")"></BxCodeSnippet>
        </div>
    </div>
    <div class="bx--row">
        <div class="bx--col">
            <Section>
                <AccordionWidget></AccordionWidget>
            </Section>
        </div>
    </div>
</div>
