@page "/components/bx-structuredlist"

@using System.ComponentModel.DataAnnotations

<div class="bx--content">
    <BxGrid>
        <BxRow>
            <BxCol lg="10">
                <StructuredListWidget></StructuredListWidget>
            </BxCol>
        </BxRow>
    </BxGrid>
</div>
@code {

}
