<div id="right-panel" class="bx--header-panel" data-product-switcher>
    <ul class="bx--switcher__item">
        <li class="bx--switcher__item">
            <a class="bx--switcher__item-link bx--switcher__item-link--selected">Link</a>
        </li>
        <li class="bx--switcher__item"><a class="bx--switcher__item-link">Link</a></li>
        <li class="bx--switcher__item"><a class="bx--switcher__item-link">Link</a></li>
        <li class="bx--switcher__item"><a class="bx--switcher__item-link">Link</a></li>
        <li class="bx--switcher__item"><a class="bx--switcher__item-link">Link</a></li>
        <li class="bx--switcher__item"><a class="bx--switcher__item-link">Link</a></li>
    </ul>
</div>
@code {
    public object[] Items { get; set; }
}
