<legend class="@prefix--label">@Legend</legend>
<!-- input + label -->
<div class="@prefix--form-item @prefix--checkbox-wrapper">
    <input id="@prefix--checkbox-new" class="@prefix--checkbox" type="checkbox" value="new"
           name="checkbox" checked>
    <label for="@prefix--checkbox-new" class="@prefix--checkbox-label">@Label</label>
</div>
@code {
    [Parameter]
    public string prefix { get; set; } = "bx";
    [Parameter]
    public string Legend { get; set; }
    [Parameter]
    public string Label { get; set; }
}
