<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="BxBlazor@Prerelease" value="https://pkgs.dev.azure.com/cherkaouimouad/BxBlazor/_packaging/BxBlazor%40Prerelease/nuget/v3/index.json" />
    <add key="NLayersApp.Persistence" value="https://pkgs.dev.azure.com/cherkaouimouad/NLayersApp.Persistence/_packaging/NLayersApp.Persistence/nuget/v3/index.json" />
    <add key="NLayersApp.CQRS"  value="https://pkgs.dev.azure.com/cherkaouimouad/NLayersApp.CQRS/_packaging/NLayersApp.CQRS/nuget/v3/index.json" />
  </packageSources>
</configuration>